@font-face {
    font-family: 'NotoSans';
    src: url(assets/fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

:root {
    /* Neutral */
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);
    /* Red */
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);
    /* Gradient */
    --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    box-sizing: border-box;
    font-family: 'NotoSans';
}

html {
    background-color: var(--Neutral-200);
}

html, body {
    height: 100%;
}

@media(min-width: 375px) {
    body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
}

@media(min-width: 1024px) {
    .app-container {
        width: 80%;
    }
}

header > div {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--Neutral-0);
    border-radius: 10px;
    padding: 5px 10px;
}

header > div > img {
    height: 2rem;
}


.theme-toggle {
    border: none;
    border-radius: 10px;
    height: 2rem;
    width: 2rem;
    margin-right: 5px;

}

.extension-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter-btn {
    border: 2px solid var(--Neutral-300);
    background-color: var(--Neutral-0);
    border-radius: 30px;
    width: 6rem;
    height: 2rem;
    text-align: center;
}

@media(min-width: 1024px) {
    .extension-list {
        flex-direction: row;
        justify-content: space-between;
    }
}